<aside class="aside">
	<div class="aside-item">
		<div class="aside-item__title">Elements</div>
		<div class="aside-menu">
			<a class="aside-menu__item active" routerlinkactive="active" href="#/elements/button">Button</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/flag">Flag</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/loader">Loader</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/list">List</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/segment">Segment</a>
		</div>
	</div>
	<div class="aside-item">
		<div class="aside-item__title">Collections</div>
		<div class="aside-menu">
			<a class="aside-menu__item active" routerlinkactive="active" href="#/elements/button">Menu</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/flag">Form</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/loader">Input</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/list">Select</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/segment">Message</a>
		</div>
	</div>	
	<div class="aside-item">
		<div class="aside-item__title">Views</div>
		<div class="aside-menu">
			<a class="aside-menu__item active" routerlinkactive="active" href="#/elements/button">Card</a>
		</div>
	</div>
	<div class="aside-item">
		<div class="aside-item__title">Modules</div>
		<div class="aside-menu">
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/accordion">Accordion</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/checkbox">Checkbox</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/dimmer">Dimmer</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/dropdown">Dropdown</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/modal">Modal</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/rating">Rating</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/shape">Shape</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/search">Search</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/sidebar">Sidebar</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/popup">Popup &amp; Tooltip</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/progress">Progress</a>
			<a class="aside-menu__item" routerlinkactive="active" href="#/elements/tab">Tab</a>
		</div>
	</div>	
</aside>
<div class="content">
	<app-navbar></app-navbar>
	<app-button></app-button>
	<app-image-zoom></app-image-zoom>
	<app-multiselect></app-multiselect>
</div>

